:root {
    --primary: rgb(1, 39, 26);
    --secondary: #0f0101;
    --gray:gray;
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    
}
#headerTop{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
#socialMediaLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
#socialMediaLinks img{
    width: 2rem;
    height: 2rem;
}
#heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#heading img{
    width:15rem
}
#headerMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    border-bottom: 1px solid gray;
    
}
#headerMain button{
    background-color: transparent;
    border: none;
    
}
#headerLinks{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
   
}
#headerLinks a{
    text-decoration: none;
    color: rgb(1, 39, 26);
}
header{
    border-bottom: 1px solid var(--primary);
}

h2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }
p
    {
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: 250px;
        font-style: normal;
      }

.blog-card{
    
    border: 1px solid var(--gray);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: .5rem;
    max-width: 100%;
}
.blog-card img{
    width: 100%;
    height: 100%;
}
.blog-card a{
    text-decoration: none;
    border: 1px solid gray;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--primary);
    color: white;
}

 .blog-container{
   display: grid;
   grid-template-columns: 1fr;
   gap: .5rem;
   padding: .5rem;

 }


@media screen and (min-width: 640px) {
   #headerTop{
    display: flex;
   }
  
   #heading img{
    width: 35rem;
   }
   .blog-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    padding: .5rem;
 
  }
 
    
}

  @media screen and (min-width: 960px) {
    #headerMain button{
        display: none;

    }
    .blog-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: .5rem;
        padding: .5rem;
     
      }
  }